<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>458328829250-19tq6k1j26anif6kgbb52qaj7m6tkdpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458328829250-19tq6k1j26anif6kgbb52qaj7m6tkdpr</string>
	<key>API_KEY</key>
	<string>AIzaSyB-N48WKYZvGu9VjmBVycR9auXucUTKqV0</string>
	<key>GCM_SENDER_ID</key>
	<string>458328829250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmpl.swasthyacon</string>
	<key>PROJECT_ID</key>
	<string>swasthyacon-9c19b</string>
	<key>STORAGE_BUCKET</key>
	<string>swasthyacon-9c19b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458328829250:ios:744178d7e8ca5939</string>
	<key>DATABASE_URL</key>
	<string>https://swasthyacon-9c19b.firebaseio.com</string>
</dict>
</plist>