page-registration {
	
	.card-header {
	    font-size: 1.0em;
	    width: 100%;
	    color: white;
	    text-align:center;
	    padding:8px
	}
	.card-body {
	    font-size: 1.0em;
	    width: 100%;
	    text-align:center;
	    padding:5px;
	    color:#4c4b4b;
	}
	ion-col {
		border-right: 1px solid #ccc;
	}
	.card-header ion-col {
		border-right: 0px solid #ccc;
	}
	
	.msg-header {
	    font-size: 1.5em;
	    width: 100%;
	    font-weight: bold;
	    text-align: center;
	    padding: 10px;
	    color: #186AAB;
	    background-color: #FFFFFF;
	}
	.sub-header{
		font-size: 1.1em;
	    font-weight: bold;
	    padding: 5px 10px;
	}
	.msg-text {
	    font-size: 1.1em;
	    width: 100%;
	    text-align:justify;
	}

	p {
		padding: 5px 10px;
	}

	ion-button{
		padding: 5px;
	}
	
	/*ion-card {
		box-shadow: none !important;
	}*/
}
