page-session-details {
	p {
	    font-size: 15px;
	    color: #5d5d5d;
	    line-height: 26px;
	}
	ion-item{
		border-bottom: 1px solid #ccc !important;
	}
	ion-toolbar{
		text-align: center;
		color: white;
	}
	ion-toolbar p{
		text-align: center;
		color: white;
	}
}
