page-share {

	ion-content {
	    left: 20%;
	    top: 25%;
	    position: absolute;
	    display: block;
	    width: 60%;
	    height: 50%;
	    contain: strict;
	    border-radius: 10px;
	}
	.social-share {
		padding: 5px;
	    background-color: white;
	    border: 1px solid #1496CC;
	    border-radius: 5px;
	}
	.share-icon{
		color: white;
    	margin-top: 10px;
	}
}
